<!DOCTYPE html>
<html lang="en">

<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<title>Glifico</title>
<meta name="viewport" content="width=device-width, initial-scale=1.0">

<script type="text/javascript" src="js/jquery-1.12.4.min.js"></script>
<script type="text/javascript" src="js/bootstrap.min.js"></script>
<script type="text/javascript" src="js/jquery.cookiebar.js"></script>

<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.6/angular.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.6/angular-route.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.6/angular-resource.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.6/angular-animate.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.6/angular-aria.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.6/angular-route.js"></script>

<script src="angularjs/textAngular-rangy.min.js"></script>
<script src="angularjs/textAngular.min.js"></script>
<script src="angularjs/angular-material.min.js"></script>
<script src="angularjs/angular-touch.js"></script>
<script src="angularjs/api-check.min.js"></script>


<script src="angularjs/formly.min.js"></script>
<script src="angularjs/formly-material.min.js"></script>
<script src="angularjs/select.js"></script>
<script src="angularjs/angular-sanitize.js"></script>
<script src="angularjs/angular-messages.min.js"></script>
<script src="angularjs/ui-bootstrap-tpls.js"></script>
<script src="angularjs/ng-upload.js"></script>

<script src="angularjs/ui-grid.min.js"></script>

<script type="text/javascript" src="functions.js"></script>
<script type="text/javascript"></script>
<script src="cookiebar.js"></script>

<script src="app/glifico.modules.js"></script>
<script src="app/glificoFooter.component.js"></script>


<link rel="stylesheet" type="text/css" href="css/bootstrap.min.css">
<link rel="stylesheet" type="text/css" href="css/jquery-ui.min.css">
<link rel="stylesheet" type="text/css" href="css/bootstrap-theme.min.css">
<link rel="stylesheet" type="text/css" href="css/jquery.cookiebar.css">
<link rel="stylesheet" type="text/css" href="MegaNavbar/assets/plugins/font-awesome/css/font-awesome.css">
<link rel="stylesheet" type="text/css" href="MegaNavbar/assets/plugins/font-awesome/css/font-awesome.min.css">
<link rel="stylesheet" type="text/css" href="MegaNavbar/assets/plugins/simple-line-icons/simple-line-icons.css">
<link rel="stylesheet" type="text/css" href="MegaNavbar/assets/css/MegaNavbar.min.css">
<link rel="stylesheet" type="text/css" href="MegaNavbar/assets/css/MegaNavbar.css">
<link rel="stylesheet" type="text/css" href="MegaNavbar/assets/css/skins/navbar-inverse.css">
<link rel="stylesheet" type="text/css" href="MegaNavbar/assets/css/animation/animation.css">
<link rel="styleSheet" href="angularjs/select.css"/>
<link rel="styleSheet" href="angularjs/select2.css"/>
<link rel="styleSheet" href="angularjs/selectize.default.css"/>
<link rel="styleSheet" href="angularjs/angular-material.min.css"/>
<link rel="styleSheet" href="angularjs/textAngular.css"/>
<link rel="styleSheet" href="angularjs/ui-grid.min.css"/>
<link rel="stylesheet" type="text/css" href="main.css">


<meta name="viewport" content="width=device-width, initial-scale=1">

</head>
<body>


	<!-- custom templates -->
    <script type="text/ng-template" id="ui-select-single.html">
      <ui-select data-ng-model="model[options.key]" data-required="{{to.required}}" data-disabled="{{to.disabled}}" theme="bootstrap">
        <ui-select-match placeholder="{{to.placeholder}}" data-allow-clear="true">{{$select.selected}}</ui-select-match>
        <ui-select-choices data-repeat="option as option in to.options | filter: $select.search">
          <div ng-bind-html="option | highlight: $select.search"></div>
        </ui-select-choices>
      </ui-select>
    </script>
    <script type="text/ng-template" id="ui-select-multiple.html">
      <ui-select multiple data-ng-model="model[options.key]" data-required="{{to.required}}" data-disabled="{{to.disabled}}" theme="bootstrap">
        <ui-select-match placeholder="{{to.placeholder}}">{{$item}}</ui-select-match>
        <ui-select-choices data-repeat="option as option in to.options | filter: $select.search">
          <div ng-bind-html="option | highlight: $select.search"></div>
        </ui-select-choices>
      </ui-select>
    </script>
	<script type="text/ng-template" id="ui-tagging.html">
		<ui-select multiple tagging="tagTransform" tagging-label="(nuovo)" data-ng-model="model[options.key]" data-required="{{to.required}}" data-disabled="{{to.disabled}}" theme="bootstrap" sortable="true">
		<ui-select-match placeholder="{{to.placeholder}}">{{$item}}</ui-select-match>
		<ui-select-choices data-repeat="option in to.options | filter: $select.search">
          <div ng-bind-html="option | highlight: $select.search"></div>
        </ui-select-choices>
		</ui-select>
	</script>
	<script type="text/ng-template" id="ui-tagging-single.html">
		<ui-select tagging tagging-label="(nuovo)" data-ng-model="model[options.key]" data-required="{{to.required}}" data-disabled="{{to.disabled}}" theme="bootstrap" sortable="true">
		<ui-select-match placeholder="{{to.placeholder}}">{{$item}}</ui-select-match>
		<ui-select-choices data-repeat="option in to.options | filter: $select.search">
		<div ng-bind-html="option | highlight: $select.search"></div>
        </ui-select-choices>
		</ui-select>
	</script>


<script>
  var sysIsLogged=false;
  var sysUsername='Anonymous';
  var isLogged = false;
  var isAgenzia = null;
</script>


<nav class="navbar navbar-default navbar-fixed-top">
<div class="container-fluid">
<div class="navbar-header">
<button class="navbar-toggle" data-target="#MegaNavbar" data-toggle="collapse" type="button">
<span class="sr-only">Toggle navigation</span>
<span class="icon-bar"></span>
<span class="icon-bar"></span>
<span class="icon-bar"></span>
</button>

<a class="navbar-brand navbar-left" href="index.html"><i class="fa fa-home"></i>
<span class="reverse" style="font-size:22px;">GLIFICO</span>
</a>
</div>
<div class="collapse navbar-collapse" id="MegaNavbar">
<ul class="nav navbar-nav navbar-left">
<li><a href="about.html">About</a></li>
<li><a href="services.html">Services</a></li>
<li><a href="privacy.html">Privacy</a></li>
<li><a href="terms.html">Terms</a></li>
<li><a href="contacts.html">Contact</a></li>
</ul>
</div>
</div>
</nav>

<div class="alert alert-danger" id="alertError" style="display:none;position: fixed;top: 60px;left: 0;width: 100%;z-index:9999;">
<a class="close" data-dismiss="alert" href="#">&nbsp;</a>
</div>
<div class="alert alert-success" id="alertOK" style="display:none;position: fixed;top: 60px;left: 0;width: 100%;z-index:9999;">
<a class="close" data-dismiss="alert" href="#">&nbsp;</a>
</div>



<!--

Add your code here
-->


<script>
$("#completed").hide();


function storeTranslator(){
	var req = createXHTMLHttpRequest();
	console.log("function called");
			req.onreadystatechange = function(){
				if (req.status == 200 && req.readyState == 4){
					$("#completed").show();
					location.href="index.html"
						return(true);
				}else{
					mostraDialogTimed('errorPanel');
					return(false);
				}
			};

			var start=location.href.indexOf("token=");
			start+=6;
			var end=location.href.length;
			var token = "";
			if(end-start>2) {
				token=location.href.substring(start,end);
			}
			
			req.open("GET", "storeTranslator.php"+"?"+
					"token="+token, true);
			req.send();
}

storeTranslator();
</script>

<br><br><br><br>
<div style="margin-right:10px;margin-left:10px">
<div class="panel panel-default">
<div class="panel-heading">

You are now a Glifico user

</div>
</div>
</div>
<div style="text-align:center;">
<div style="width:400px;display: table;margin: 0 auto;" onload="$(#completed).hide()">

<div id="resetPassword">
<div id="completed">
<p>Go to Glifico's <a href="index.html">homepage</a></p> and login with your <b>new credentials</b>.
</div>
</div>

</div>
</div>




 <div ng-app="glifico">
 <glificofooter></glificofooter>
 </div>


</body>

</html>
