<!DOCTYPE html>
<html lang="en">

<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<title>Glifico</title>
<meta name="viewport" content="width=device-width, initial-scale=1.0">

<script type="text/javascript" src="js/jquery-1.12.4.min.js"></script>
<script type="text/javascript" src="js/bootstrap.min.js"></script>
<script type="text/javascript" src="js/jquery.cookiebar.js"></script>

<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.6/angular.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.6/angular-route.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.6/angular-resource.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.6/angular-animate.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.6/angular-aria.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.6/angular-route.js"></script>

<script src="angularjs/textAngular-rangy.min.js"></script>
<script src="angularjs/textAngular.min.js"></script>
<script src="angularjs/angular-material.min.js"></script>
<script src="angularjs/angular-touch.js"></script>
<script src="angularjs/api-check.min.js"></script>


<script src="angularjs/formly.min.js"></script>
<script src="angularjs/formly-material.min.js"></script>
<script src="angularjs/select.js"></script>
<script src="angularjs/angular-sanitize.js"></script>
<script src="angularjs/angular-messages.min.js"></script>
<script src="angularjs/ui-bootstrap-tpls.js"></script>
<script src="angularjs/ng-upload.js"></script>

<script src="angularjs/ui-grid.min.js"></script>

<script type="text/javascript" src="functions.js"></script>
<script type="text/javascript"></script>
<script src="cookiebar.js"></script>
<script src="loginform.js"></script>
<script src="mylogin.js"></script>


<script src="app/glifico.modules.js"></script>
<script src="app/glificoFooter.component.js"></script>

<script src="app/login.controller.js"></script>


<link rel="stylesheet" type="text/css" href="css/bootstrap.min.css">
<link rel="stylesheet" type="text/css" href="css/jquery-ui.min.css">
<link rel="stylesheet" type="text/css" href="css/bootstrap-theme.min.css">
<link rel="stylesheet" type="text/css" href="css/jquery.cookiebar.css">
<link rel="stylesheet" type="text/css" href="MegaNavbar/assets/plugins/font-awesome/css/font-awesome.css">
<link rel="stylesheet" type="text/css" href="MegaNavbar/assets/plugins/font-awesome/css/font-awesome.min.css">
<link rel="stylesheet" type="text/css" href="MegaNavbar/assets/plugins/simple-line-icons/simple-line-icons.css">
<link rel="stylesheet" type="text/css" href="MegaNavbar/assets/css/MegaNavbar.min.css">
<link rel="stylesheet" type="text/css" href="MegaNavbar/assets/css/MegaNavbar.css">
<link rel="stylesheet" type="text/css" href="MegaNavbar/assets/css/skins/navbar-inverse.css">
<link rel="stylesheet" type="text/css" href="MegaNavbar/assets/css/animation/animation.css">
<link rel="styleSheet" href="angularjs/select.css"/>
<link rel="styleSheet" href="angularjs/select2.css"/>
<link rel="styleSheet" href="angularjs/selectize.default.css"/>
<link rel="styleSheet" href="angularjs/angular-material.min.css"/>
<link rel="styleSheet" href="angularjs/textAngular.css"/>
<link rel="styleSheet" href="angularjs/ui-grid.min.css"/>
<link rel="stylesheet" type="text/css" href="main.css">


<meta name="viewport" content="width=device-width, initial-scale=1">

</head>
<body onload="onLoad()">


	<!-- custom templates -->
    <script type="text/ng-template" id="ui-select-single.html">
      <ui-select data-ng-model="model[options.key]" data-required="{{to.required}}" data-disabled="{{to.disabled}}" theme="bootstrap">
        <ui-select-match placeholder="{{to.placeholder}}" data-allow-clear="true">{{$select.selected}}</ui-select-match>
        <ui-select-choices data-repeat="option as option in to.options | filter: $select.search">
          <div ng-bind-html="option | highlight: $select.search"></div>
        </ui-select-choices>
      </ui-select>
    </script>
    <script type="text/ng-template" id="ui-select-multiple.html">
      <ui-select multiple data-ng-model="model[options.key]" data-required="{{to.required}}" data-disabled="{{to.disabled}}" theme="bootstrap">
        <ui-select-match placeholder="{{to.placeholder}}">{{$item}}</ui-select-match>
        <ui-select-choices data-repeat="option as option in to.options | filter: $select.search">
          <div ng-bind-html="option | highlight: $select.search"></div>
        </ui-select-choices>
      </ui-select>
    </script>
	<script type="text/ng-template" id="ui-tagging.html">
		<ui-select multiple tagging="tagTransform" tagging-label="(nuovo)" data-ng-model="model[options.key]" data-required="{{to.required}}" data-disabled="{{to.disabled}}" theme="bootstrap" sortable="true">
		<ui-select-match placeholder="{{to.placeholder}}">{{$item}}</ui-select-match>
		<ui-select-choices data-repeat="option in to.options | filter: $select.search">
          <div ng-bind-html="option | highlight: $select.search"></div>
        </ui-select-choices>
		</ui-select>
	</script>
	<script type="text/ng-template" id="ui-tagging-single.html">
		<ui-select tagging tagging-label="(nuovo)" data-ng-model="model[options.key]" data-required="{{to.required}}" data-disabled="{{to.disabled}}" theme="bootstrap" sortable="true">
		<ui-select-match placeholder="{{to.placeholder}}">{{$item}}</ui-select-match>
		<ui-select-choices data-repeat="option in to.options | filter: $select.search">
		<div ng-bind-html="option | highlight: $select.search"></div>
        </ui-select-choices>
		</ui-select>
	</script>


<script>
  var sysIsLogged=false;
  var sysUsername='Anonymous';
  var isLogged = false;
  var isAgenzia = null;
</script>


<nav class="navbar navbar-default navbar-fixed-top">
<div class="container-fluid">
<div class="navbar-header">
<button class="navbar-toggle" data-target="#MegaNavbar" data-toggle="collapse" type="button">
<span class="sr-only">Toggle navigation</span>
<span class="icon-bar"></span>
<span class="icon-bar"></span>
<span class="icon-bar"></span>
</button>

<a class="navbar-brand navbar-left" href="index.html"><i class="fa fa-home"></i>
<span class="reverse" style="font-size:22px;">GLIFICO</span>
</a>
</div>
<div class="collapse navbar-collapse" id="MegaNavbar">
<ul class="nav navbar-nav navbar-left">
<li><a href="about.html">About</a></li>
<li><a href="services.html">Services</a></li>
<li><a href="privacy.html">Privacy</a></li>
<li><a href="terms.html">Terms</a></li>
<li><a href="contacts.html">Contacts</a></li>
</ul>
<ul class="nav navbar-nav navbar-right">
<li id="li-rating"><a href="socialRating.html">Rating</a></li>
<li id="li-trad"><a href="socialTrad.html">Trad</a></li>
<li id="li-skill"><a href="skillTest.html">Skill Test</a></li>
<li class="dropdown-grid" style="position: static;">
<a aria-expanded="false" aria-haspopup="true" class="dropdown-toggle" data-toggle="dropdown" href="javascript:void(0);" id="a6" onClick="modalLogin()">
<span class="reverse">
<span id="view:_id4:computedField1">
<script>function modalLogin(){  $('#loginModal').modal('show');}</script>
<span id="usernameLoginRegister" onClick="modalLogin()">Register / Login</span>
</span>
</span>
</a>
</li>

<li class="dropdown">
<a aria-expanded="false" aria-haspopup="false" class="dropdown-toggle" data-toggle="dropdown">
<span class="reverse">
<div id="loginController" ng-controller="loginController as ctrl">
<span><p id="usernameTab">{{ctrl.username}}</p></span>
</div>
</span>
</a>

<ul class="dropdown-menu">
    <li><a onclick="logout()">logout</a></li>
  </ul>
</li>

</ul>
</div>
</div>
</nav>
<div aria-labelledby="myModalLabel" class="modal fade" id="loginModal" role="dialog" tabindex="-1">
<div class="modal-dialog" role="document">
<div class="modal-content">
<div class="modal-header">
<button aria-label="Close" class="close" data-dismiss="modal" type="button">
<span aria-hidden="true"></span>
</button>
<h4 class="modal-title" id="myModalLabel">Welcome, register or login at GLIFICO</h4>
</div>
<div class="modal-body">
<ul class="nav nav-tabs">
<li class="active"><a data-toggle="tab" href="#login">Login</a></li>
<li><a data-toggle="tab" href="#regTrad">Translator Registration</a></li>
<li><a data-toggle="tab" href="#regAg">Registration Agency</a></li>
</ul>
</div>
<div class="tab-content"><div class="tab-pane fade in active" id="login">
<form class="form-horizontal">

<fieldset>
<div class="form-group">
<div class="col-md-12"></div>
</div>
<div class="form-group">
<label class="col-md-4 control-label" for="textinput" id="user">User:</label>
<div class="col-md-4">
<input autofocus="autofocus" class="form-control input-md" id="textinput" name="textinput" onkeydown="if(event.keyCode == 13) document.getElementById('button1id').click()" placeholder="User.." type="text">
</div>
</div>
<div class="form-group">
<label class="col-md-4 control-label" for="passwordinput">Password:</label>
<div class="col-md-4">
<input class="form-control input-md" id="passwordinput" name="passwordinput" onkeydown="if(event.keyCode == 13) document.getElementById('button1id').click()" placeholder="Password..." type="password">
</div>
</div>
<div class="alert alert-danger" id="errorPanel" style="display:none;">
<strong>Warning!</strong>Wrong username or password
</div>
<div class="form-group">
<label class="col-md-4 control-label" for="button1id"></label>
<div class="col-md-8">
<button IsDefault="false" class="btn btn-success" id="button1id" name="button1id" onClick="doDominoLogin()" type="button">Login</button>
</div>
</div>
</fieldset>

</form>

</div>
<div class="tab-pane fade" id="regTrad">
<div id="regTradAPP" data-ng-controller="MainController_regTrad as vmMainController_regTrad">
    <form ng-submit="vmMainController_regTrad.onSubmit()" name="vmMainController_regTrad.form" novalidate>
        <formly-form model="vmMainController_regTrad.model" fields="vmMainController_regTrad.fields" options="vmMainController_regTrad.options" form="vmMainController_regTrad.form">
            <md-button type="submit" ng-click="vmMainController_regTrad.submit()" class="md-raised md-primary" ng-disabled="vmMainController_regTrad.form.$invalid">Register!</md-button>
        </formly-form>
    </form>
</div>


<style>
md-input-container{
	width:100%;
}
</style>
</div><div class="tab-pane fade" id="regAg">
<div id="regAgeAPP" data-ng-controller="MainController_regAge as vmMainController_regAge">
    <form ng-submit="vmMainController_regAge.onSubmit()" name="vmMainController_regAge.form" novalidate>
        <formly-form model="vmMainController_regAge.model" fields="vmMainController_regAge.fields" options="vmMainController_regAge.options" form="vmMainController_regAge.form">
            <md-button type="submit" ng-click="vmMainController_regAge.submit()" class="md-raised md-primary" ng-disabled="vmMainController_regAge.form.$invalid">Register!</md-button>
        </formly-form>
    </form>
</div>


<style>
md-input-container{
	width:100%;
}
</style>
</div>
</div>
</div>

<div class="modal-footer">
<button class="btn btn-default" data-dismiss="modal" type="button">Close</button>
</div>
</div>
</div>


<div class="alert alert-danger" id="alertError" style="display:none;position: fixed;top: 60px;left: 0;width: 100%;z-index:9999;">
<a class="close" data-dismiss="alert" href="#">&nbsp;</a>
</div>
<div class="alert alert-success" id="alertOK" style="display:none;position: fixed;top: 60px;left: 0;width: 100%;z-index:9999;">
<a class="close" data-dismiss="alert" href="#">&nbsp;</a>
</div>



<!--

Add your code here
-->
<br><br><br><br>
<div style="margin-right:10px;margin-left:10px">
<div class="panel panel-default">
<div class="panel-heading">

User personal page
</div>
</div>
</div>
<div style="text-align:center;">
<div style="width:90%;display: table;margin: 0 auto;">

<script src="translator.js"></script>

<div class="jumbotron jumboMain"><div class="row" style="margin-left:10px; margin-right:10px;"><div class="col-md-12"><h2>Editing Profile</h2></div></div><div class="row" style="margin-left:10px; margin-right:10px;"><div class="col-md-12">

<div class="row">
	<div class="col-md-12">
		<ul class="nav nav-tabs">
			<li class="active">
				<a data-toggle="tab" href="#Personal">Personal Data</a></li>
			<li><a data-toggle="tab" href="#Education" style="visibility:hidden;">Education</a></li>
			<li><a data-toggle="tab" href="#Specialization" style="visibility:hidden;">Specialization</a></li>
			<li><a data-toggle="tab" href="#LanguagePairs">Language Pairs</a></li>
		</ul>

		<div class="tab-content">
			<div id="Personal" class="tab-pane fade in active">
				<h3>Personal</h3>

				<div id="PersonalAppID" ng-controller="PersonalAppCtrl" layout="column" ng-cloak class="md-inline-form">
					<md-content layout-padding>
						<div>
							<form name="personalForm" action="/" method="post">

								<div layout-gt-xs="row">
									<md-input-container>
										<label>First Name</label>
										<input ng-model="model.FirstName" class="text-center" required>
									</md-input-container>

									<md-input-container>
										<label>Last Name</label>
										<input ng-model="model.LastName" class="text-center" required>
									</md-input-container>
								</div>

								<div layout-gt-xs="row">
									<md-input-container>
										<label>Birthday</label>
										<input type="date" id="birthday" name="input" data-ng-model="model.Birthday" placeholder="yyyy-MM-dd" />
									</md-input-container>
								</div>

								<div layout-gt-xs="row">
									<md-input-container>
										<label>City</label>
										<input ng-model="model.City" class="text-center">
									</md-input-container>

									<md-input-container>
										<label>State/Province</label>
										<input ng-model="model.StateProvince" class="text-center">
									</md-input-container>

									<md-input-container>
										<label>Postal Code</label>
										<input name="postalCode" ng-model="model.ZIP" class="text-center" placeholder="" ng-pattern="/^[0-9]{5}$/" md-maxlength="5">

										<div ng-messages="userForm.postalCode.$error" role="alert" multiple>
											<div ng-message="required" class="my-message">You must supply a postal code.</div>
											<div ng-message="pattern" class="my-message">That doesn't look like a valid postal code.
											</div>
											<div ng-message="md-maxlength" class="my-message">
												Please don't use the long version...we don't need to be that specific...
											</div>
										</div>
									</md-input-container>
								</div>

								<div layout-gt-xs="row">
									<md-input-container>
										<label>Country</label>
										<md-select placeholder="Select your Country" ng-model="model.IdCountry"  >
											<md-option ng-repeat="element in Countries" value="{{element.Id}}">
												{{element.Country}}
											</md-option>
										</md-select>
									</md-input-container>
								</div>
								<div layout-gt-xs="row">
									<md-input-container>
										<label>Mothertongue</label>
										<md-select placeholder="Select your Mothertongue" ng-model="model.IdMothertongue" required>
											<md-option ng-repeat="element in Languages" value="{{element.Id}}">
												{{element.Language}}
											</md-option>
										</md-select>
									</md-input-container>
								</div>

								<div layout-gt-xs="row">
									<md-button class="md-raised md-primary" type="button" on ng-disabled="personalForm.$invalid" ng-click="submit()">Save</md-button>
								</div>

						</div>
				</div>
				</md-content>
			</div>


			<div id="Education" class="tab-pane fade">
				<h3>Education</h3>

				<div id="EducationAppID" ng-controller="EducationAppCtrl" layout="column" ng-cloak class="md-inline-form">
					<md-content layout-padding>
						<div>
							<form name="educationForm" action="/" method="post">
								<div layout-gt-xs="row">
									<md-input-container>
										<label>Institute</label>
										<input ng-model="model.Institute" required>
									</md-input-container>
									<md-input-container>
										<label>Field</label>
										<input ng-model="model.Field" required>
									</md-input-container>
								</div>
								<div layout-gt-xs="row">
									<md-button class="md-raised md-primary" type="button" on ng-disabled="personalForm.$invalid" ng-click="submit()">Save</md-button>
								</div>
							</form>
						</div>




						<md-list ng-cloak>
							<md-subheader class="md-no-sticky">My Educations List</md-subheader>
							  <md-list-item ng-repeat="edu in edus" ng-click="loadEducation(edu)" class="noright">

							    <p>{{ edu.Institute }}, {{ edu.Field }}</p>
							    <span aria-label="edit" ng-click="loadEducation(edu)"  class="md-secondary md-hue-3" ><i class="fa fa-pencil fa-2x"></i></span>
							    <span aria-label="download" ng-show="isToShow(edu)" ng-click="download(edu)"  class="md-secondary md-hue-3" ><i class="fa fa-download fa-2x"></i></span>
							    <span aria-label="attach" ng-click="showAdvanced($event,edu)"  class="md-secondary md-hue-3" ><i class="fa fa-paperclip fa-2x"></i></span>
							    <span aria-label="delete" ng-click="doDelete(edu)"  class="md-secondary md-hue-3" ><i class="fa fa-trash fa-2x"></i></span>

							 </md-list-item>
						</md-list>

					</md-content>
				</div>

			</div>

			<div id="Specialization" class="tab-pane fade">
				<h3>Specialization</h3>

				<div id="SpecializationAppID" ng-controller="SpecializationAppCtrl" layout="column" ng-cloak class="md-inline-form">
					<md-content layout-padding>
						<div>
							<form name="specializationForm" action="/" method="post">
								<div layout-gt-xs="row">
									<md-input-container>
										<label>Institution</label>
										<input ng-model="model.Institution" required>
									</md-input-container>
									<md-input-container>
										<label>Certification</label>
										<input ng-model="model.Certification" required>
									</md-input-container>
								</div>
								<div layout-gt-xs="row">
									<md-input-container>
										<label>Date</label>
										<md-datepicker ng-model="model.Date" required></md-datepicker>
									</md-input-container>
								</div>
								<div layout-gt-xs="row">
									<md-input-container>
										<label>Level</label>
										<md-select placeholder="Select your level" ng-model="model.SpecLevel" md-on-open="loadLevels();" required>
											<md-option ng-repeat="element in Levels" value="{{element.Id}}">
												{{element.Level}}
											</md-option>
										</md-select>
									</md-input-container>
								</div>
								<div layout-gt-xs="row">
									<md-button class="md-raised md-primary" type="button" on ng-disabled="personalForm.$invalid" ng-click="submit()">Save</md-button>
								</div>
							</form>
						</div>




						<md-list ng-cloak>
							<md-subheader class="md-no-sticky">My Specializations</md-subheader>
							  <md-list-item ng-repeat="edu in Specializations" ng-click="loadSpecializations(edu)" class="noright">

							    <p>{{ edu.Institution }}, {{ edu.Certification }}</p>
							    <span aria-label="edit" ng-click="loadSpecialization(edu)"  class="md-secondary md-hue-3" ><i class="fa fa-pencil fa-2x"></i></span>
							    <span aria-label="download" ng-show="isToShow(edu)" ng-click="download(edu)"  class="md-secondary md-hue-3" ><i class="fa fa-download fa-2x"></i></span>
							    <span aria-label="attach" ng-click="showAdvanced($event,edu)"  class="md-secondary md-hue-3" ><i class="fa fa-paperclip fa-2x"></i></span>
							    <span aria-label="delete" ng-click="doDelete(edu)"  class="md-secondary md-hue-3" ><i class="fa fa-trash fa-2x"></i></span>

							 </md-list-item>
						</md-list>

					</md-content>
				</div>
			</div>


			<div id="LanguagePairs" class="tab-pane fade">
				<h3>Language Pairs</h3>

				<div id="LanguagePairsAppID" ng-controller="LanguagePairsAppCtrl" layout="column" ng-cloak class="md-inline-form">
					<md-content layout-padding>
						<div>
							<form id="LanguagePairForm" name="languagePairsForm" action="/" method="post">

								<div layout-gt-xs="row">
									<md-input-container>
										<label>Language From</label>
										<md-select placeholder="Select language" ng-model="model.IdLanguageFrom" md-on-open="loadLanguages();" required>
											<md-option ng-repeat="element in Languages" value="{{element.Id}}">
												{{element.Language}}
											</md-option>
										</md-select>
									</md-input-container>
									<md-input-container>
										<label>Language To</label>
										<md-select placeholder="Select language" ng-model="model.IdLanguageTo" md-on-open="loadLanguages();" required>
											<md-option ng-repeat="element in Languages" value="{{element.Id}}">
												{{element.Language}}
											</md-option>
										</md-select>
									</md-input-container>
								</div>

								<div layout-gt-xs="row">
									<md-input-container>
										<label>Field</label>
										<md-select placeholder="Select Field" ng-model="model.IdParametro_Field" md-on-open="loadFields();" required>
											<md-option ng-repeat="element in Fields" value="{{element.Id}}">
												{{element.Field}}
											</md-option>
										</md-select>
									</md-input-container>
									<md-input-container>
										<label>Service</label>
										<md-select placeholder="Select service" ng-model="model.IdParametro_Service" md-on-open="loadServices();" required>
											<md-option ng-repeat="element in Services" value="{{element.Id}}">
												{{element.Service}}
											</md-option>
										</md-select>
									</md-input-container>
								</div>

								<div layout-gt-xs="row">
									<md-input-container>
										<label>Currency</label>
										<md-select placeholder="Select Currency" ng-model="model.IdCurrency" md-on-open="loadCurrencies();" required>
											<md-option ng-repeat="element in Currencies" value="{{element.Id}}">
												{{element.Currency}}
											</md-option>
										</md-select>
									</md-input-container>
								</div>

								<div layout-gt-xs="row">
									<md-input-container>
										<label>Price Per Character</label>
										<input type="number" ng-model="model.PricePerCharacter" required>
										
										<!-- DA DEFINIRE!!!!!!! -->
										<div >
											Price per word: {{model.PricePerCharacter *10}}
											<br>
											Price per document: {{model.PricePerCharacter *1000}}
										</div>
										
									</md-input-container>
								</div>


								<div layout-gt-xs="row">
									<md-button class="md-raised md-primary" type="button" on ng-disabled="personalForm.$invalid" ng-click="submit()">Save new pair</md-button>
								</div>
							</form>
						</div>




						<md-list ng-cloak>
							<md-subheader class="md-no-sticky">My Language Pairs</md-subheader>
							  <md-list-item ng-repeat="edu in Pairs" ng-click="loadPairs(edu)" class="noright">

							    <p>From: {{ edu.LanguageFrom }}, To: {{ edu.LanguageTo }}, Price: {{edu.Price}} {{edu.Currency}}</p>
							    <span aria-label="edit" ng-click="loadPairs(edu)"  class="md-secondary md-hue-3" ><i class="fa fa-pencil fa-2x"></i></span>
							    <span aria-label="delete" ng-click="doDelete(edu)"  class="md-secondary md-hue-3" ><i class="fa fa-trash fa-2x"></i></span>

							 </md-list-item>
						</md-list>

					</md-content>
				</div>
			</div>
		</div>
	</div>
</div>


</div>
</div>

<!-- Language Modal -->
<div class="modal fade" id="LanguageModal" tabindex="-1" role="dialog" aria-labelledby="LanguageModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="LanguageModalLabel">Language pair</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body" data-ng-load="ctrl.calculateFeasibility()">
     
     Language
     
        </div>


      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary" data-ng-Disabled="ctrl.feasibility>=2" data-ng-show="!ctrl.processSelected" data-ng-click="ctrl.startJob()">Update pair</button>
        <button type="button" class="btn btn-secondary" data-ng-click="ctrl.closeModal()">Close</button>
      </div>
    </div>
  </div>
</div>
</div>


<div ng-app="glifico">
 <glificofooter></glificofooter>
 </div>


</body>

</html>
