<div>
  <form class="form">
    <table class="table">
      <tr class="row">
        <td class="col-md-2">Dimensione</td>
        <td>
          <input class="form-control" type="number" ng-model="ctrl.data[0]['size']" ng-change="ctrl.formChange()" id="first-class"></input>
        </td>
        <td>
          <input class="form-control" type="number" ng-model="ctrl.data[1]['size']" ng-change="ctrl.formChange()" id="second-class"></input>
        </td>
        <td>
          <input class="form-control" type="number" ng-model="ctrl.data[2]['size']" ng-change="ctrl.formChange()" id="third-class"></input>
        </td>
      </tr>
      <tr class="row">
        <td class="col-md-2">Margine</td>
        <td>
          <input class="form-control" type="number" ng-model="ctrl.data[0]['margin']" id="first-class"></input>
        </td>
        <td>
          <input class="form-control" type="number" ng-model="ctrl.data[1]['margin']" id="second-class"></input>
        </td>
        <td>
          <input class="form-control" type="number" ng-model="ctrl.data[2]['margin']" id="third-class"></input>
        </td>
      </tr>
      <tr class="row">
        <td class="col-md-2">Quota fissa</td>
        <td>
          <input class="form-control" type="number" ng-model="ctrl.data[0]['fix']" id="first-class"></input>
        </td>
        <td>
          <input class="form-control" type="number" ng-model="ctrl.data[1]['fix']" id="second-class"></input>
        </td>
        <td>
          <input class="form-control" type="number" ng-model="ctrl.data[2]['fix']" id="third-class"></input>
        </td>
      </tr>
    </table>
  </form>
  La somma è {{ctrl.data[0]['size']+ctrl.data[1]['size']+ctrl.data[2]['size']}}
</div>

{{ctrl.sizeOK()}}
